.App{
  margin-top: 40px;
}

.address-checkbox{
  margin-top: 20px;
}

.label-class{
  width: 30%;
}

.submit-button{
  margin-top: 20px;
  right: 50%;
  position: absolute;
}

.input-component-section{
  margin-top: 50px;
}

.form-section{
  padding: 30px;
  margin-top: 50px;
  background-color: #efefef;
}

#root{
  overflow-x: hidden;
}

button:focus {
  outline: none;
}

input::-ms-reveal, input::-ms-clear {
  display: none;
}
