.dialog-action {
    padding: 20px;
}

.submit-btn {
    background-color: #f76e6e;
    color :#ffffff;
    margin-right: 10px;
}

.submit-btn:hover {
    background-color: #fc3a3a;
    color :#ffffff;
    margin-right: 10px;
}

.cancel-btn {
    background-color: rgb(206, 206, 206);
    color :#424242;
}

.cancel-btn:hover {
    background-color: rgb(179, 179, 179);
    color :#424242
}

.msg-typo {
    font-weight: 600 !important;
}
